<div class="container d-flex justify-content-space-between">
  <div class="col-lg-4 m-0 p-0 bg-color">
    <app-profile></app-profile>
  </div>
  <div class="col-lg-8 general-background border" *ngIf="user">
    <!--- <thead><h1 class="text-center blue">Welcome {{user.fname}}!</h1></thead>

    <table class="col-lg-6">
        <tr class="bg-blue">
            <td class="bg-blue"> First Name </td>
            <td class="bg-blue"><input #fname class="form-control p-3 mt-5 text-center" type="text" value="{{user.fname}}" ></td>
        </tr>
        <tr> 
            <td class="bg-blue">Last Name</td>
            <td class="bg-blue"><input #lname class="form-control p-3 mt-5 text-center" type="text" value="{{user.lname}}" >
            </td>
        </tr>
        <tr class="bg-blue">
            <td class="bg-blue">E-mail</td>
            <td class="bg-blue"><input class="form-control p-3 mt-5 text-center bg-white" type="text" placeholder="{{user.email}}" aria-label="Disabled input example" disabled>
            </td>
        </tr>
    </table>-->
    <h1 class="mt-5 text-center general-background text-white">
      Welcome {{ user.fname }}!
    </h1>
    <div
      *ngIf="respomseError"
      class="text-center text-danger fs-2 general-background"
    >
      <p>{{ respomseError }}</p>
    </div>
    <form [formGroup]="form" class="general-background">
      <div class="text-center mb-sm-5 general-background">
        <input
          class="form-control p-3 mt-5 text-center"
          type="text"
          placeholder="{{ user.email }}"
          readonly
        />
      </div>
      <div class="text-center mb-sm-5 general-background">
        <input
          formControlName="fname"
          class="form-control p-3 mt-5 text-center"
          type="text"
          value="{{ user.fname }}"
        />
      </div>
      <div class="text-center mb-sm-5 general-background">
        <input
          formControlName="lname"
          class="form-control p-3 mt-5 text-center"
          type="text"
          value="{{ user.lname }}"
        />
      </div>
      <div class="ms-5 general-background justify-content-center">
        <button
          class="btn btn-primary me-3 adjust"
          (click)="update()"
          [disabled]="!form.valid"
        >
          Update
        </button>
        <button class="btn btn-danger m-3 me-3 ms-3" (click)="delete()">
          Delete Account
        </button>
        <button class="btn m-3 me-3 btn-success" routerLink="/Change-password">
          Change Password
        </button>
      </div>
    </form>

    <!--     
<form class="d-flex justify-content-space-between">
    
</form> -->

    <!---

    <div class="row d-flex justify-content-center">
        <div class="col-2">
        <button class="btn btn-primary text-primary m-3" (click)="update(fname.value,lname.value)">Update Information</button>
        </div>
        <div class="col-2">
        <button class="btn btn-danger text-danger m-3"(click)="delete()">Delete Account</button>
        </div>
        <div class="col-2">
    <button class="btn btn-success text-success m-3"routerLink="/Change-password">Change Password</button>
    </div>
    </div>
</div>

-->
  </div>
</div>
