* {
  margin: 0;
  padding: 0;
  background-color: white;
}
.container {
  width: 100%;
}

.general-colour {
  color: #164e63;
}
.general-background {
  background-color: #164e63;
}
button {
  background-color: #083a4c;
  color: aliceblue;
  padding: 2%;
}
.adjust {
  margin-left: 10%;
  padding-left: 8%;
  padding-right: 8%;
}
input {
  width: 50%;
  margin-left: 25%;
}
.border {
  border-radius: 5%;
}
