<div class="container d-flex justify-content-space-between m-0 p-0">
  <div class="col-lg-4 m-0 p-0 ">
    <app-profile></app-profile>
  </div>
  <div class="col-lg-8 bg-light mt-3 roundedd width ms-5" *ngIf="user">
    <!--- <thead><h1 class="text-center blue">Welcome {{user.fname}}!</h1></thead>

    <table class="col-lg-6">
        <tr class="bg-blue">
            <td class="bg-blue"> First Name </td>
            <td class="bg-blue"><input #fname class="form-control p-3 mt-5 text-center" type="text" value="{{user.fname}}" ></td>
        </tr>
        <tr> 
            <td class="bg-blue">Last Name</td>
            <td class="bg-blue"><input #lname class="form-control p-3 mt-5 text-center" type="text" value="{{user.lname}}" >
            </td>
        </tr>
        <tr class="bg-blue">
            <td class="bg-blue">E-mail</td>
            <td class="bg-blue"><input class="form-control p-3 mt-5 text-center bg-white" type="text" placeholder="{{user.email}}" aria-label="Disabled input example" disabled>
            </td>
        </tr>
    </table>-->
    <h1 class="mt-5 text-center bg-light" style="color:#164e63;">
      
      Welcome {{ user.fname }}
    
    </h1>
    <div
      *ngIf="respomseError"
      class="text-center text-danger fs-2 bg-light adjust"
    >
      <p>{{ respomseError }}</p>
    </div>
    <form [formGroup]="form" class="bg-light">
      <div class="text-center mb-sm-3 bg-light coolinput mx-5 adjust">
        <label for="input" class="text bg-light">E-mail:</label>
        <input
          class="form-control  p-3 text-center border border-primary"
          type="text"
          placeholder="{{ user.email }}"
          readonly
        />
      </div>
      <div class="text-center mb-sm-3 mx-5 bg-light coolinput">
        <label for="input" class="text bg-light">First Name:</label>

        <input
          formControlName="fname"
          class="form-control p-3  text-center border border-primary"
          type="text"
          value="{{ user.fname }}"
        />
      </div>
      <div class="text-center mb-sm-5 mx-5 bg-light coolinput">
        <label for="input" class="text bg-light">Last Name:</label>

        <input
          formControlName="lname"
          class="form-control p-3  text-center border border-primary mb-3"
          type="text"
          value="{{ user.lname }}"
        />
      </div>
      <div class="ms-5 bg-light justify-content-center mt-5 d-flex">
        <button
          class="btn btn-primary px-5 py-2 colour"(click)="update()"[disabled]="!form.valid"
        >
          Update
        </button>
        <div class="d-flex flex-end">
        <button class="btn btn-primary mx-3 py-2 px-2 colourb" routerLink="/Change-password">
          Change Password
        </button>
        <button class="btn btn-danger mx-3 py-2" (click)="delete()">
          Delete Account
        </button>
      </div>
      </div>
    </form>

    <!--     
<form class="d-flex justify-content-space-between">
    
</form> -->

    <!---

    <div class="row d-flex justify-content-center">
        <div class="col-2">
        <button class="btn btn-primary text-primary m-3" (click)="update(fname.value,lname.value)">Update Information</button>
        </div>
        <div class="col-2">
        <button class="btn btn-danger text-danger m-3"(click)="delete()">Delete Account</button>
        </div>
        <div class="col-2">
    <button class="btn btn-success text-success m-3"routerLink="/Change-password">Change Password</button>
    </div>
    </div>
</div>-->
  </div>
</div>
