<div class="container-fluid p-4">
    <div class="row">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">User Full Name</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Users">
                    <td>{{ item.fName }} {{item.lName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <a class="btn btn-info" [routerLink]="['/dashboard/users', item.id]">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" (click)=confirmDelete(item.id)>Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="IsDeleted" class="text-danger">Deleted Successfully</div>
    </div>
</div>