<div class="bg-light footer">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">© 2023</p>
  </footer>
</div> -->

<!--  footer section  -->
<section class="info_section layout_padding bg-dark">
  <div class="container info_content">
    <div class="pt-sm-5 text-left">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="d-flex">
            <h5>New software</h5>
          </div>
          <div class="d-flex">
            <ul>
              <li>
                <a routerLink="/"> About Us </a>
              </li>
              <li>
                <a routerLink="/"> About services </a>
              </li>
              <li>
                <a routerLink="/"> About Departments </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <h5>The Services</h5>
          </div>
          <div class="d-flex">
            <ul>
              <li>
                <a href=""> About Us </a>
              </li>
              <li>
                <a href=""> About services </a>
              </li>
              <li>
                <a href=""> About Departments </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <h5>Contact Us</h5>
          </div>
          <div class="d-flex">
            <ul>
              <li>
                <a href=""> About Us </a>
              </li>
              <li>
                <a href=""> About services </a>
              </li>
              <li>
                <a href=""> About Departments </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer_section">
    <p>
      &copy; 2023 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </div>
</section>
<!-- footer section  -->

<button class="btn btn-outline-dark btn-lg z-3 rounded-circle position-fixed bottom-0 end-0 mb-3 me-3" (click)="openDialogflowChatbot()"><i class="fas fa-comments fa-lg" style="color: #164e63;"></i></button>