<footer class="m-0 bg-dark">
  <div class="container bg-dark">
      <div class="row bg-dark ">
              <div class="col-lg-4 col-sm-12">
                  <div class="card bg-dark border-0 m-4">
                      <div class="card-body">
                        <h5 class="card-title text-bg-dark">About</h5>
                        <p class="card-text text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                           Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#"class="text-secondary">laboris nisi ut aliquip</a> ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                             Excepteur sint occaecat cupidatat non proident,
                           sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                  <div class="card bg-dark border-0 m-4">
                      <div class="card-body">
                        <h5 class="card-title text-bg-dark">Blogroll</h5>
                        <ul class="card-text text-secondary">
                          <li><a href="#" class="text-secondary">NETTUTS+</a></li>
                          <li><a href="#"class="text-secondary"> FreelanceSwitch</a></li>
                          <li><a href="#"class="text-secondary">In The Woods</a></li>
                          <li><a href="#"class="text-secondary">Netsetter</a></li>
                          <li><a href="#"class="text-secondary">PSDTUTS+</a></li>
                        </ul>
                      </div>
                    </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                  <div class="card bg-dark border-0 m-4">
                      <div class="card-body text-bg-dark">
                        <h5 class="card-title text-bg-dark">Popular</h5>
                        <ul class="card-text">
                          <li><a href="#"class="text-secondary">This is the title of a blog post</a></li>
                          <li><a href="#"class="text-secondary">Lorem ipsum dolor sit amet</a></li>
                          <li><a href="#"class="text-secondary">Consectetur adipisicing elit, sed do eiusmod</a></li>
                          <li><a href="#"class="text-secondary">Duis aute irure dolor</a></li>
                          <li><a href="#"class="text-secondary">Excepteur sint occaecat cupidatat</a></li>
                          <li><a href="#"class="text-secondary">Reprehenderit in voluptate velit</a></li>
                          <li><a href="#"class="text-secondary">Officia deserunt mollit anim id est laborum</a></li>
                          <li><a href="#"class="text-secondary">Lorem ipsum dolor sit amet</a></li>
                        </ul>
                      </div>
                    </div>
              </div>
         
      </div>
  </div>
  </footer>  
  
<!-------------------------rehams place-------------------------------->
<div class="bg-light footer">
  <footer class="py-3 my-4 mt-0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">None</a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">© 2023</p>
  </footer>
</div>
