.sidebar {
    position: sticky;
    top: 100px;
    z-index: 1020;
}

.pl-0,
.pt-0 {
    margin-left: 0 !important;
}

.sb-sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
}