/* CSS Code for Nav:- */

.navbar .container .collapse .navbar-nav .nav-link {
  color: rgb(149, 8, 8);
}
.navbar .container .collapse .navbar-nav .nav-link:hover {
  color: #fa0;
}
.navbar button[aria-expanded="true"] {
  border-color: #fa0;
  box-shadow: none;
}
.navbar button[aria-expanded="false"] {
  box-shadow: none;
}

mat-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .fill-remaining-space {
    display: none;
  }
}
