<!-- Nav V01 -->
<!-- <div class="container alert alert-success" *ngIf="!isUser && !isAdmin">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <div *ngIf="!isUserLoggedIn">
        <a routerLink="/Authentication/login">Login</a>
      </div>
      <div *ngIf="!isUserLoggedIn">
        <a routerLink="/Authentication/signup">Signup</a>
      </div>
      <div *ngIf="isUserLoggedIn">
        <a class="btn btn-danger" (click)="LogOut()">Logout</a>
      </div>
    </div>
  </div>
</div> -->

<!-- Nav V02 for User -->
<!-- <header *ngIf="!isAdmin">
  <nav class="navbar navbar-expand-lg nav-menu bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#"
        ><img src="../../../assets/images/logooooo.png" width="60" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item m-3 active">
            <a
              class="nav-link rounded"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item m-3">
            <a class="nav-link rounded" routerLink="/" routerLinkActive="active"
              >None</a
            >
          </li>
          <li class="nav-item m-3">
            <a class="nav-link rounded" routerLink="/" routerLinkActive="active"
              >None</a
            >
          </li>
          <li class="nav-item m-3">
            <a class="nav-link rounded" routerLink="/" routerLinkActive="active"
              >None</a
            >
          </li>

          <li class="nav-item m-3" *ngIf="!isUserLoggedIn">
            <a
              id="loginBtn"
              class="btn btn-primary"
              routerLink="/Authentication/login"
              routerLinkActive="active"
              >Login</a
            >
          </li>
          <li class="nav-item m-3" *ngIf="!isUserLoggedIn">
            <a
              class="btn btn-success"
              routerLink="/Authentication/register"
              routerLinkActive="active"
              >Register</a
            >
          </li>
          <li class="nav-item m-3" *ngIf="isUserLoggedIn">
            <a class="btn btn-danger" (click)="LogOut()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<!-- for Admin -->
<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <a class="navbar-brand" routerLink="#"
          ><img src="../../../assets/images/logooooo.png" width="60" />
        </a>
        <ul class="nav col-12 col-lg-auto my-3 text-small">
          <li>
            <a routerLink="/" class="nav-link text-white"> Home </a>
          </li>
          <li>
            <a routerLink="/" class="nav-link text-white"> About </a>
          </li>
          <li>
            <a routerLink="/" class="nav-link text-white"> Profile </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="nav-link text-white"
              *ngIf="isUserLoggedIn && isAdmin"
            >
              Dashboard
            </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="nav-link text-white"
              *ngIf="isUserLoggedIn && isAdmin"
            >
              Orders
            </a>
          </li>
          <li>
            <a routerLink="/Products" class="nav-link text-white"> Products </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/users"
              class="nav-link text-white"
              *ngIf="isUserLoggedIn && isAdmin"
            >
              Customers
            </a>
          </li>
          <li>
            <a routerLink="/cart" class="nav-link text-white"> Cart </a>
          </li>
          <li class="nav-link" *ngIf="!isUserLoggedIn">
            <a
              id="loginBtn"
              class="btn btn-primary"
              routerLink="/Authentication/login"
              routerLinkActive="active"
              >Login</a
            >
          </li>
          <li class="nav-link" *ngIf="!isUserLoggedIn">
            <a
              class="btn btn-success"
              routerLink="/Authentication/register"
              routerLinkActive="active"
              >Register</a
            >
          </li>
          <li class="nav-link" *ngIf="isUserLoggedIn">
            <a class="btn btn-danger" (click)="LogOut()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form> 

      <div class="text-end">
        <li class="nav-item m-3" *ngIf="!isUserLoggedIn">
          <a
            id="loginBtn"
            class="btn btn-primary"
            routerLink="/Authentication/login"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item m-3" *ngIf="!isUserLoggedIn">
          <a
            class="btn btn-success"
            routerLink="/Authentication/register"
            routerLinkActive="active"
            >Register</a
          >
        </li>
        <li class="nav-item m-3" *ngIf="isUserLoggedIn">
          <a class="btn btn-danger" (click)="LogOut()">Logout</a>
        </li>
      </div>
    </div>
  </div> -->
</header>

<!-- <mat-toolbar color="primary" class="mat-elevation-z2">
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/contact">Contact</a>

  <span class="fill-remaining-space"></span>

  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">Home</a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/about">About</a>
    <a mat-menu-item routerLink="/contact">Contact</a>
    <a mat-menu-item routerLink="/login">Login</a>
    <a mat-menu-item routerLink="/register">Register</a>
  </mat-menu>
</mat-toolbar> -->
