<div class="container mt-sm-5">
  <form [formGroup]="form">
    <div class="form-floating mb-sm-5">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="text-center mb-sm-5">
      <button
        (click)="ConfirmEmail($event)"
        class="btn btn-primary w-25 py-2"
        type="submit"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
