<div class="container d-flex justify-content-center ">
<div class="col-lg-3 m-0 p-0">
    <app-profile></app-profile>
</div>
    <div class="col-lg-8" >
        <div let *ngFor="let o of orders">
            <div class="card m-3" style="width: 18rem;"routerLink="/Order/Details/{{o.id}}">
                <img  *ngFor="let p of o.products"src="{{p.image}}" class="card-img-top">
                <div class="card-body">
                  <p class="m-3 px-3">{{o.id}}</p>
                  <p class="m-3 px-3">{{o.orderStatus}}</p>
                  <p class="m-3 px-3">{{o.deliverdDate}}</p>
                  <p class="m-3 px-3">{{o.address_Id}}</p>
                  <p *ngFor="let p of o.products" class="px-3">{{p.title}}</p>
                </div>
              </div>
        </div>
        
    </div>
</div>

