*{
    margin:0;
    padding: 0;
}
.background{
    background-color: #164e63;
    border-radius: 5%;
    color:white;
}
button{
    width: 20%;
    margin: 2%;
}
.back{
    width:80%;
    color:  #164e63;;
    background-color:white;
    align-items: center;
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    padding-left:5%;
    padding-right:5%;

}

.general-back{
    background-color: #0e7490;
}
form{
    width: 100%;
}