<div class="container">
    <form [formGroup]="form">

    
    <div class="d-flex " >
    <input class="form-control p-3 m-3" type="text" placeholder="Old Password" formControlName="oldPassword">
    </div>
    
    <div class="text-center" >
    <input #new class="form-control p-3 m-3" type="text" placeholder="New Password" formControlName="newPassword">
    </div>
    
    <div>
        <button type="submit" class="btn btn-primary" (click)="change()">Cange</button>
    </div>
    </form>

</div>