<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" routerLink="/dashboard/home">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Home
                    </a>
                    <a class="nav-link" routerLink="/dashboard/users">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Users
                    </a>
                    <a class="nav-link" routerLink="/dashboard/categories">
                        <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
                        Categories
                    </a>
                    <a class="nav-link" routerLink="/dashboard/products">
                        <div class="sb-nav-link-icon"><i class="fas fa-laptop"></i></div>
                        Products
                    </a>
                    <a class="nav-link" routerLink="/dashboard/orders">
                        <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                        Orders
                    </a>
                    <a class="nav-link" routerLink="/dashboard/reviews">
                        <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                        Reviews
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>