<div class="container-fluid my-3">
    <div class="grid grid-cols-12 gap-6 mt-5 ">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <button class="btn btn-primary shadow-md mr-2 lightcolor" routerLink="/dashboard/register/admin">Add New
                User</button>
            <div class="hidden md:block mx-auto text-slate-500"></div>
            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                <div class="w-56 relative text-slate-500">
                    <input type="text" class="form-control w-56 box pr-10 shadow p-3 bg-white rounded"
                        placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                </div>
            </div>
        </div>
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">No.</th>
                        <th class="whitespace-nowrap">Product Name</th>
                        <th class="whitespace-nowrap">User Name</th>
                        <th class="whitespace-nowrap">Creation Date</th>
                        <th class="text-center whitespace-nowrap">Comment</th>
                        <th class="text-center whitespace-nowrap">Rating</th>
                        <th class="text-center whitespace-nowrap">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="intro-x" *ngFor="let item of reviews; let i = index">
                        <td class="w-40">
                            {{i + 1}}
                        </td>
                        <td>
                            <a class="font-medium whitespace-nowrap">{{item.productName}}</a>
                        </td>
                        <td>
                            <a class="text-slate-500 flex items-center mr-3">
                                {{item.userName}}
                            </a>
                        </td>
                        <td>
                            <a class="text-slate-500 flex items-center mr-3">
                                {{item.formattedCreationDate}}
                            </a>
                        </td>
                        <td>
                            <a class="text-slate-500 flex items-center mr-3">
                                {{item.comment}}
                            </a>
                        </td>
                        <td>
                            <a class="text-slate-500 flex items-center mr-3">
                                {{item.rating}}
                            </a>
                        </td>
                        <td class="table-report__action w-56">
                            <div class="flexxx justify-center items-center">
                                <button>
                                    <a class="flex items-center text-danger" (click)="del(item.productId, item.userId)">
                                        <i class="fa-solid fa-trash-can fa-xl mr-1" (click)="del(item.productId, item.userId)"></i> Delete
                                    </a>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>