<div class="container my-5">
  <div class="row">
    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" class="text-center CustomText">Filteration</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="applyFilters(1)" #filterForm="ngForm">
            <article class="filter-group mt-2">
              <header class="card-header">
                <a
                  href="#"
                  class="title FilterElements"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse_aside_brands"
                  >Brands</a
                >
              </header>
              <div class="collapse show" id="collapse_aside_brands">
                <div class="card-body">
                  <label class="form-check mb-2" *ngFor="let brand of brands">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="brand"
                      [value]="brand.id"
                      [(ngModel)]="selectedBrandId"
                    />
                    <span class="form-check-label"> {{ brand.name }} </span>
                  </label>
                </div>
              </div>
            </article>

            <article class="filter-group mt-2">
              <header class="card-header">
                <a
                  href="#"
                  class="title FilterElements"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse_aside2"
                  >Price</a
                >
              </header>
              <div class="collapse show" id="collapse_aside2">
                <div class="card-body">
                  <div class="row mb-3">
                    <div class="col-6">
                      <label for="min" class="form-label">Min</label>
                      <input
                        class="form-control"
                        id="min"
                        placeholder="$1000"
                        type="number"
                        name="min"
                        [(ngModel)]="selectedMinPrice"
                      />
                    </div>
                    <div class="col-6">
                      <label for="max" class="form-label">Max</label>
                      <input
                        class="form-control"
                        id="max"
                        placeholder="$100,0000"
                        type="number"
                        name="max"
                        [(ngModel)]="selectedMaxPrice"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </article>

            <article class="filter-group mt-2">
              <header class="card-header">
                <a
                  href="#"
                  class="title FilterElements"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse_aside_rating"
                  >Rating
                </a>
              </header>
              <div class="collapse show" id="collapse_aside_rating">
                <div class="card-body">
                  <label
                    class="form-check mb-2"
                    *ngFor="let ratingOption of ratingOptions"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="ratingOption"
                      [value]="ratingOption"
                      [(ngModel)]="selectedRating"
                    />
                    <span class="form-check-label"
                      >{{ ratingOption }} stars</span
                    >
                  </label>
                </div>
              </div>
            </article>

            <!-- <button class="btn btn-light w-100 " type="submit">Apply</button>
            <button
              class="btn btn-light w-100"
              type="button"
              (click)="resetFilters()"
            >
              Reset
            </button> -->
            <button
              [ngClass]="{
                'custom-button': true,
                'w-100': true,
                rounded: true,
                'mb-2': true,
                'mt-2': true
              }"
              type="submit"
            >
              Apply
            </button>
            <button
              [ngClass]="{
                'custom-button': true,
                'w-100': true,
                rounded: true,
                'mb-2': true
              }"
              type="button"
              (click)="resetFilters()"
            >
              Reset
            </button>
          </form>
        </div>
      </div>
    </div>
    <!--  *********************************************************************************** -->

    <div class="col-md-9">
      <div class="row">
        <div
          class="col-md-4 mt-2 card-wrapper"
          *ngFor="
            let p of products
              | paginate
                : {
                    id: 'product-pagination',
                    itemsPerPage: countPerPage,
                    currentPage: page,
                    totalItems: totalCount
                  }
          "
        >
          <div class="card mb-3">
            <div class="card-body p-0 pb-3" style="max-height: 200px">
              <div *ngIf="p.price != p.priceAfter" class="sale">
                {{ p.discount }}% OFF
              </div>
              <div class="card-img-actions">
                <img
                  src="{{ p.image }}"
                  class="card-img rounded-0"
                  height="200px"
                  alt=""
                />
              </div>
            </div>
            <div class="card-body text-center bg-light">

              <div class="mb-2 adek">
                <h4 class="font-weight-semibold mb-2 text-white">
                  <a
                    routerLink="/Products/{{ p.id }}"
                    class="text-default mb-2 nameColor"
                    data-abc="true"
                  >
                    {{ p.name }}
                  </a>
                </h4>
              </div>
              <div class="adek">
                <h4 class="mb-0 font-weight-semibold text-success">
                  ${{ p.priceAfter }}
                </h4>
                <h5 *ngIf="p.price != p.priceAfter" class="oldPrice">
                  ${{ p.price }}
                </h5>
              </div>
              <div>
                <p>
                  Rating :
                  <svg
                    *ngFor="let star of generateStars(p.avgRatingRounded)"
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 24 24"
                  >
                    <path
                      class="star-rating"
                      *ngIf="star === 'full'"
                      d="M12 2 L15.09 8.18 L22 9 L16.5 13.39 L18.36 20 L12 17.77 L5.64 20 L7.5 13.39 L2 9 L8.91 8.18 L12 2"
                    ></path>
                    <path
                      class="star-rating"
                      *ngIf="star === 'half'"
                      d="M11.5 2 L14.59 8.18 L22 9 L16.5 13.39 L18.36 20 L12 17.77 L5.64 20 L7.5 13.39 L2 9 L8.91 8.18 L11.5 2Z"
                    ></path>
                    <path
                      *ngIf="star === 'empty'"
                      d="M12 2 L15.09 8.18 L22 9 L16.5 13.39 L18.36 20 L12 17.77 L5.64 20 L7.5 13.39 L2 9 L8.91 8.18 L12 2"
                      class="empty-star"
                    ></path>
                  </svg>
                </p>
              </div>
              <div class="text-muted mb-1">{{ p.reviewCount }} reviews</div>
              <button
                *ngIf="isLoggedIn"
                (click)="AddOrRemoveFromwishList(p.id)"
                type="button"
                class="btn bg-cart py-0"
              >
                <i class="fa-regular fa-heart"></i>
                wishlist
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *********************Message card************************ -->

<div class="centered-message" *ngIf="noProductsMessage">
  <div class="card card-msg">
    <div class="card-body-msg">
      <h5 class="card-title-msg">No Products Found</h5>
      <p class="card-text-msg">{{ noProductsMessage }}</p>
    </div>
  </div>
</div>

<pagination-controls
  *ngIf="!filterWork"
  (pageChange)="loadProductsInPagination($event)"
  id="product-pagination"
  class="text-center"
></pagination-controls>
<pagination-controls
  *ngIf="filterWork"
  (pageChange)="applyFilters($event)"
  id="product-pagination"
  class="text-center"
></pagination-controls>
