<!----------------------SideBar------------------------->
  
<div class="container mx-0 px-0">
    <div class="col-lg-4 col-md-4 col-sm-12 ">       
    <!-- Sidebar -->
    <aside>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">

          <a routerLink="/main-profile" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Profile</span>
          </a>   

          <a routerLink="/Addresses" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Addresses</span>
          </a> 
          
          <a routerLink="/UserOrder" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-money-bill fa-fw me-3"></i><span>Orders</span></a>
        </div>
      </div>
    </nav> 
    </aside>
  </div>
</div>