<div class="col-lg-8 general-background"*ngIf="address">
    <form class="d-flex justify-content-space-between flex-column ">
        <input #city class="form-control adjust p-3 m-3" type="text" placeholder="city" value="{{address.city}}">
        <input #street class="form-control adjust p-3 m-3" type="text" placeholder="street" value="{{address.street}}">
        <input #phone class="form-control adjust p-3 m-3" type="text" placeholder="phone" value="{{address.phone}}">
    </form>
    <button class="btn btn-primary"(click)="update(address.id,city.value,street.value,phone.value)">Update</button>
</div>