

<div class="container-fluid p-4 mt-5">
    <div>
        <a class="btn btn-primary" routerLink="/dashboard/addProduct">Add new product</a>
    </div>
    <div class="row">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products">
                    <td>{{ item.id }}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.image}}</td>
                    <td>
                        <a class="btn btn-info" routerLink="/dashboard/products/{{item.id}}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" (click)=confirmDelete(item.id)>Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="IsDeleted" class="text-danger">Deleted Successfully</div>
    </div>
</div>