<div class="container d-flex justify-content-space-between">
  <div class="col-lg-4 m-0 p-0 bg-color">
    <app-profile></app-profile>
  </div>
  <div class="col-lg-8" *ngIf="products">
    <section class="products Top-products section">
      <div class="container">
        <div class="row wishListTitle justify-content-center mt-5 mb-5 rounded">
          <div class="col-lg-3 text-center">
            <div class="title py-3">
              <h2>WishList</h2>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 mt-2" *ngFor="let p of products">
              <div class="card">
                <div class="card-body">
                  <div *ngIf="p.price != p.priceAfter" class="sale">
                    {{ p.discount }}% OFF
                  </div>
                  <div class="card-img-actions">
                    <img
                      src="{{ p.image }}"
                      class="card-img img-fluid"
                      width="96"
                      height="350"
                      alt=""
                    />
                  </div>
                </div>
                <div class="card-body bg-light text-center">
                  <div class="mb-2">
                    <h4 class="font-weight-semibold mb-2">
                      <a
                        routerLink="/Products/{{ p.id }}"
                        class="text-default mb-2"
                        data-abc="true"
                        >{{ p.name }}</a
                      >
                    </h4>
                  </div>
                  <h4 class="mb-0 font-weight-semibold">${{ p.priceAfter }}</h4>
                  <h5 *ngIf="p.price != p.priceAfter" class="oldPrice">
                    ${{ p.price }}
                  </h5>
                  <div>
                    <p>
                      Rating :
                      <svg
                        *ngFor="let star of generateStars(p.avgRatingRounded)"
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 24 24"
                      >
                        <path
                          class="star-rating"
                          *ngIf="star === 'full'"
                          d="M12 2 L15.09 8.18 L22 9 L16.5 13.39 L18.36 20 L12 17.77 L5.64 20 L7.5 13.39 L2 9 L8.91 8.18 L12 2"
                        ></path>
                        <path
                          class="star-rating"
                          *ngIf="star === 'half'"
                          d="M11.5 2 L14.59 8.18 L22 9 L16.5 13.39 L18.36 20 L12 17.77 L5.64 20 L7.5 13.39 L2 9 L8.91 8.18 L11.5 2Z"
                        ></path>
                        <path
                          *ngIf="star === 'empty'"
                          d="M12 2 L15.09 8.18 L22 9 L16.5 13.39 L18.36 20 L12 17.77 L5.64 20 L7.5 13.39 L2 9 L8.91 8.18 L12 2"
                          class="empty-star"
                        ></path>
                      </svg>
                    </p>
                  </div>
                  <div class="text-muted mb-3">{{ p.reviewCount }} reviews</div>
                  <button
                    (click)="RemoveFromwishList(p.id)"
                    type="button"
                    class="btn bg-cart whishlistBtn"
                  >
                    <i class="fa-regular fa-heart wishlist"></i>
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container my-5 centered-message" *ngIf="products.length == 0">
      <div class="card card-msg">
        <div class="card-body-msg">
          <h5 class="card-title-msg">No Products Found</h5>
          <p class="card-text-msg">Your Wishlist is Empty</p>
        </div>
        <div class="mb-4">
          <h2 class="text-center">
            <a routerLink="/Products" class="btn btnShoping">Go Shopping</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
