<div class="container-fluid p-4">
    <div class="row">
        <table *ngIf="User" class="table mt-5">
            <tbody>
                <tr>
                    <th scope="col">#Id</th>
                    <td>{{User.id}}</td>
                </tr>
                <tr>
                    <th scope="col">User Name</th>
                    <td>{{User.fName}} {{User.lName}}</td>
                </tr>
                <tr>
                    <th scope="col">User Email</th>
                    <td>{{User.email}}</td>
                </tr>
                <tr>
                    <th scope="col">Role</th>
                    <td>{{User.role}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary" href="/dashboard/users">Back</a>
        </div>
    </div>
</div>