<!--<div *ngIf="details">
    <div *ngFor="let p of details.orderProducts">
        <p>{{p.title}}</p>
        <p>{{p.quantity}}</p>
        <p>{{p.price}}</p>

    </div>
   <div *ngIf="details.orderAddress">
        <p>{{details.orderAddress.city}}</p>

    </div>
    <p>{{totalp}}</p>
</div>-->
<div class="container d-flex justify-content-center">
    <div class="col-lg-4 mx-0 px-0">
        <app-profile></app-profile>
    </div>
   <div><h5> Total price : ${{totalp}}</h5></div> 

<div class="card d-grid " style="width: 18rem;" *ngIf="details">
    <div class="row">
        <div class="col-lg-8">
    <div *ngFor="let p of details.orderProducts" class="container d-grid">
    <img src="https://m.media-amazon.com/images/I/81VBQJoT5JL.__AC_SY300_SX300_QL70_ML2_.jpg" class="zoom">
    <div class="card-body" >
        <p>Product Name: {{p.title}}</p>
        <p>Quantity : {{p.quantity}}</p>
        <p>Price : ${{p.price}}</p>
    </div>z
    <div *ngIf="details.orderAddress">
        <p>Address: {{details.orderAddress.street}},{{details.orderAddress.city}}</p>
        <p>Phone:{{details.orderAdress.phone}}</p>
    </div>
  </div>
</div>
</div>
</div>

</div>
<div class="container">
    <div class="col-lg-4">
        <app-profile></app-profile>
    </div>
</div>