/* You can add global styles to this file, and also import other style files */
/* *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
} */
html,
body {
  height: 100%;
  padding-top: 40px !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.star-rating {
  fill: gold;
}

.sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: #fff;
  width: 60px;
  height: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}

.oldPrice {
  text-decoration: line-through;
  opacity: 0.5;
}

.popupComponent {
  width: 500px;
  height: 250px;
  border-radius: 35px;
}

.lightcolor {
  background-color: #0e7490 !important;
  border-color: #0e7490 !important;
}

.logocolor{
  background-color: #164e63 !important;
  border-color: #164e63 !important;
}

.logocolortxt{
  color: #164e63 !important;
}

.mdc-tab--active .mdc-tab__text-label {
  color: #164e63 !important;
  font-weight: bold !important;
  font-size: 1.4rem !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
  border-color: #164e63 !important;
}


.card-wrapper {
  display: flex;
}

.card {
  flex: 1;
}


.customColor{
  color:#164e63;
}


.nameColor {
  color: #164e63;
  text-decoration: none; /* Remove default underline */
}

.nameColor:hover {
  text-decoration: underline; /* Add underline on hover */
}
.BackGroundCustom{
  background-color: #164e63;
}

.textColor {
  color: #164e63;
}